[submodule "boost"]
	path = cpp/boost
	url = git@github.com:sam-caldwell/boost
	branch = 1.82.0
[submodule "postgresql"]
	path = cpp/postgresql
	url = git@github.com:sam-caldwell/postgres.git
[submodule "kernel"]
	path = cpp/linux
	url = git@github.com:sam-caldwell/linux.git
	branch = main
[submodule "zstd"]
	path = cpp/zstd
	url = git@github.com:sam-caldwell/zstd.git
[submodule "rocksdb"]
	path = cpp/rocksdb
	url = git@github.com:sam-caldwell/rocksdb.git
[submodule "cpp/ceph-object-corpus"]
	path = cpp/ceph-object-corpus
	url = git@github.com:sam-caldwell/ceph-object-corpus.git
[submodule "cpp/jerasure"]
	path = cpp/jerasure
	url = git@github.com:sam-caldwell/jerasure.git
[submodule "cpp/gf-complete"]
	path = cpp/gf-complete
	url = git@github.com:sam-caldwell/gf-complete.git
[submodule "system"]
	path = cpp/boost/libs/system
	url = git@github.com:sam-caldwell/system.git
	branch = .
[submodule "multi_array"]
	path = cpp/boost/libs/multi_array
	url = git@github.com:sam-caldwell/multi_array.git
	branch = .
[submodule "math"]
	path = cpp/boost/libs/math
	url = git@github.com:sam-caldwell/math.git
	branch = .
[submodule "smart_ptr"]
	path = cpp/boost/libs/smart_ptr
	url = git@github.com:sam-caldwell/smart_ptr.git
	branch = .
[submodule "parameter"]
	path = cpp/boost/libs/parameter
	url = git@github.com:sam-caldwell/parameter.git
	branch = .
[submodule "algorithm"]
	path = cpp/boost/libs/algorithm
	url = git@github.com:sam-caldwell/algorithm.git
	branch = .
[submodule "any"]
	path = cpp/boost/libs/any
	url = git@github.com:sam-caldwell/any.git
	branch = .
[submodule "concept_check"]
	path = cpp/boost/libs/concept_check
	url = git@github.com:sam-caldwell/concept_check.git
	branch = .
[submodule "python"]
	path = cpp/boost/libs/python
	url = git@github.com:sam-caldwell/python.git
	branch = .
[submodule "tti"]
	path = cpp/boost/libs/tti
	url = git@github.com:sam-caldwell/tti.git
	branch = .
[submodule "functional"]
	path = cpp/boost/libs/functional
	url = git@github.com:sam-caldwell/functional.git
	branch = .
[submodule "config"]
	path = cpp/boost/libs/config
	url = git@github.com:sam-caldwell/config.git
	branch = .
[submodule "log"]
	path = cpp/boost/libs/log
	url = git@github.com:sam-caldwell/log.git
	branch = .
[submodule "interprocess"]
	path = cpp/boost/libs/interprocess
	url = git@github.com:sam-caldwell/interprocess.git
	branch = .
[submodule "exception"]
	path = cpp/boost/libs/exception
	url = git@github.com:sam-caldwell/exception.git
	branch = .
[submodule "foreach"]
	path = cpp/boost/libs/foreach
	url = git@github.com:sam-caldwell/foreach.git
	branch = .
[submodule "spirit"]
	path = cpp/boost/libs/spirit
	url = git@github.com:sam-caldwell/spirit.git
	branch = .
[submodule "io"]
	path = cpp/boost/libs/io
	url = git@github.com:sam-caldwell/io.git
	branch = .
[submodule "units"]
	path = cpp/boost/libs/units
	url = git@github.com:sam-caldwell/units.git
	branch = .
[submodule "preprocessor"]
	path = cpp/boost/libs/preprocessor
	url = git@github.com:sam-caldwell/preprocessor.git
	branch = .
[submodule "format"]
	path = cpp/boost/libs/format
	url = git@github.com:sam-caldwell/format.git
	branch = .
[submodule "xpressive"]
	path = cpp/boost/libs/xpressive
	url = git@github.com:sam-caldwell/xpressive.git
	branch = .
[submodule "integer"]
	path = cpp/boost/libs/integer
	url = git@github.com:sam-caldwell/integer.git
	branch = .
[submodule "thread"]
	path = cpp/boost/libs/thread
	url = git@github.com:sam-caldwell/thread.git
	branch = .
[submodule "tokenizer"]
	path = cpp/boost/libs/tokenizer
	url = git@github.com:sam-caldwell/tokenizer.git
	branch = .
[submodule "timer"]
	path = cpp/boost/libs/timer
	url = git@github.com:sam-caldwell/timer.git
	branch = .
[submodule "inspect"]
	path = tools/inspect
	url = git@github.com:sam-caldwell/inspect.git
	branch = .
[submodule "boostbook"]
	path = tools/boostbook
	url = git@github.com:sam-caldwell/boostbook.git
	branch = .
[submodule "regex"]
	path = cpp/boost/libs/regex
	url = git@github.com:sam-caldwell/regex.git
	branch = .
[submodule "crc"]
	path = cpp/boost/libs/crc
	url = git@github.com:sam-caldwell/crc.git
	branch = .
[submodule "random"]
	path = cpp/boost/libs/random
	url = git@github.com:sam-caldwell/random.git
	branch = .
[submodule "serialization"]
	path = cpp/boost/libs/serialization
	url = git@github.com:sam-caldwell/serialization.git
	branch = .
[submodule "test"]
	path = cpp/boost/libs/test
	url = git@github.com:sam-caldwell/test.git
	branch = .
[submodule "date_time"]
	path = cpp/boost/libs/date_time
	url = git@github.com:sam-caldwell/date_time.git
	branch = .
[submodule "logic"]
	path = cpp/boost/libs/logic
	url = git@github.com:sam-caldwell/logic.git
	branch = .
[submodule "graph"]
	path = cpp/boost/libs/graph
	url = git@github.com:sam-caldwell/graph.git
	branch = .
[submodule "numeric_conversion"]
	path = cpp/boost/libs/numeric/conversion
	url = git@github.com:sam-caldwell/numeric_conversion.git
	branch = .
[submodule "lambda"]
	path = cpp/boost/libs/lambda
	url = git@github.com:sam-caldwell/lambda.git
	branch = .
[submodule "mpl"]
	path = cpp/boost/libs/mpl
	url = git@github.com:sam-caldwell/mpl.git
	branch = .
[submodule "typeof"]
	path = cpp/boost/libs/typeof
	url = git@github.com:sam-caldwell/typeof.git
	branch = .
[submodule "tuple"]
	path = cpp/boost/libs/tuple
	url = git@github.com:sam-caldwell/tuple.git
	branch = .
[submodule "utility"]
	path = cpp/boost/libs/utility
	url = git@github.com:sam-caldwell/utility.git
	branch = .
[submodule "dynamic_bitset"]
	path = cpp/boost/libs/dynamic_bitset
	url = git@github.com:sam-caldwell/dynamic_bitset.git
	branch = .
[submodule "assign"]
	path = cpp/boost/libs/assign
	url = git@github.com:sam-caldwell/assign.git
	branch = .
[submodule "filesystem"]
	path = cpp/boost/libs/filesystem
	url = git@github.com:sam-caldwell/filesystem.git
	branch = .
[submodule "function"]
	path = cpp/boost/libs/function
	url = git@github.com:sam-caldwell/function.git
	branch = .
[submodule "conversion"]
	path = cpp/boost/libs/conversion
	url = git@github.com:sam-caldwell/conversion.git
	branch = .
[submodule "optional"]
	path = cpp/boost/libs/optional
	url = git@github.com:sam-caldwell/optional.git
	branch = .
[submodule "property_tree"]
	path = cpp/boost/libs/property_tree
	url = git@github.com:sam-caldwell/property_tree.git
	branch = .
[submodule "bimap"]
	path = cpp/boost/libs/bimap
	url = git@github.com:sam-caldwell/bimap.git
	branch = .
[submodule "variant"]
	path = cpp/boost/libs/variant
	url = git@github.com:sam-caldwell/variant.git
	branch = .
[submodule "array"]
	path = cpp/boost/libs/array
	url = git@github.com:sam-caldwell/array.git
	branch = .
[submodule "iostreams"]
	path = cpp/boost/libs/iostreams
	url = git@github.com:sam-caldwell/iostreams.git
	branch = .
[submodule "multi_index"]
	path = cpp/boost/libs/multi_index
	url = git@github.com:sam-caldwell/multi_index.git
	branch = .
[submodule "bcp"]
	path = tools/bcp
	url = git@github.com:sam-caldwell/bcp.git
	branch = .
[submodule "ptr_container"]
	path = cpp/boost/libs/ptr_container
	url = git@github.com:sam-caldwell/ptr_container.git
	branch = .
[submodule "statechart"]
	path = cpp/boost/libs/statechart
	url = git@github.com:sam-caldwell/statechart.git
	branch = .
[submodule "static_assert"]
	path = cpp/boost/libs/static_assert
	url = git@github.com:sam-caldwell/static_assert.git
	branch = .
[submodule "range"]
	path = cpp/boost/libs/range
	url = git@github.com:sam-caldwell/range.git
	branch = .
[submodule "rational"]
	path = cpp/boost/libs/rational
	url = git@github.com:sam-caldwell/rational.git
	branch = .
[submodule "iterator"]
	path = cpp/boost/libs/iterator
	url = git@github.com:sam-caldwell/iterator.git
	branch = .
[submodule "build"]
	path = tools/build
	url = git@github.com:sam-caldwell/build.git
	branch = .
[submodule "quickbook"]
	path = tools/quickbook
	url = git@github.com:sam-caldwell/quickbook.git
	branch = .
[submodule "graph_parallel"]
	path = cpp/boost/libs/graph_parallel
	url = git@github.com:sam-caldwell/graph_parallel.git
	branch = .
[submodule "property_map"]
	path = cpp/boost/libs/property_map
	url = git@github.com:sam-caldwell/property_map.git
	branch = .
[submodule "program_options"]
	path = cpp/boost/libs/program_options
	url = git@github.com:sam-caldwell/program_options.git
	branch = .
[submodule "detail"]
	path = cpp/boost/libs/detail
	url = git@github.com:sam-caldwell/detail.git
	branch = .
[submodule "interval"]
	path = cpp/boost/libs/numeric/interval
	url = git@github.com:sam-caldwell/interval.git
	branch = .
[submodule "ublas"]
	path = cpp/boost/libs/numeric/ublas
	url = git@github.com:sam-caldwell/ublas.git
	branch = .
[submodule "wave"]
	path = cpp/boost/libs/wave
	url = git@github.com:sam-caldwell/wave.git
	branch = .
[submodule "type_traits"]
	path = cpp/boost/libs/type_traits
	url = git@github.com:sam-caldwell/type_traits.git
	branch = .
[submodule "compatibility"]
	path = cpp/boost/libs/compatibility
	url = git@github.com:sam-caldwell/compatibility.git
	branch = .
[submodule "bind"]
	path = cpp/boost/libs/bind
	url = git@github.com:sam-caldwell/bind.git
	branch = .
[submodule "pool"]
	path = cpp/boost/libs/pool
	url = git@github.com:sam-caldwell/pool.git
	branch = .
[submodule "proto"]
	path = cpp/boost/libs/proto
	url = git@github.com:sam-caldwell/proto.git
	branch = .
[submodule "fusion"]
	path = cpp/boost/libs/fusion
	url = git@github.com:sam-caldwell/fusion.git
	branch = .
[submodule "function_types"]
	path = cpp/boost/libs/function_types
	url = git@github.com:sam-caldwell/function_types.git
	branch = .
[submodule "gil"]
	path = cpp/boost/libs/gil
	url = git@github.com:sam-caldwell/gil.git
	branch = .
[submodule "intrusive"]
	path = cpp/boost/libs/intrusive
	url = git@github.com:sam-caldwell/intrusive.git
	branch = .
[submodule "asio"]
	path = cpp/boost/libs/asio
	url = git@github.com:sam-caldwell/asio.git
	branch = .
[submodule "uuid"]
	path = cpp/boost/libs/uuid
	url = git@github.com:sam-caldwell/uuid.git
	branch = .
[submodule "litre"]
	path = tools/litre
	url = git@github.com:sam-caldwell/litre.git
	branch = .
[submodule "circular_buffer"]
	path = cpp/boost/libs/circular_buffer
	url = git@github.com:sam-caldwell/circular_buffer.git
	branch = .
[submodule "mpi"]
	path = cpp/boost/libs/mpi
	url = git@github.com:sam-caldwell/mpi.git
	branch = .
[submodule "unordered"]
	path = cpp/boost/libs/unordered
	url = git@github.com:sam-caldwell/unordered.git
	branch = .
[submodule "signals2"]
	path = cpp/boost/libs/signals2
	url = git@github.com:sam-caldwell/signals2.git
	branch = .
[submodule "accumulators"]
	path = cpp/boost/libs/accumulators
	url = git@github.com:sam-caldwell/accumulators.git
	branch = .
[submodule "atomic"]
	path = cpp/boost/libs/atomic
	url = git@github.com:sam-caldwell/atomic.git
	branch = .
[submodule "scope_exit"]
	path = cpp/boost/libs/scope_exit
	url = git@github.com:sam-caldwell/scope_exit.git
	branch = .
[submodule "flyweight"]
	path = cpp/boost/libs/flyweight
	url = git@github.com:sam-caldwell/flyweight.git
	branch = .
[submodule "icl"]
	path = cpp/boost/libs/icl
	url = git@github.com:sam-caldwell/icl.git
	branch = .
[submodule "predef"]
	path = cpp/boost/libs/predef
	url = git@github.com:sam-caldwell/predef.git
	branch = .
[submodule "chrono"]
	path = cpp/boost/libs/chrono
	url = git@github.com:sam-caldwell/chrono.git
	branch = .
[submodule "polygon"]
	path = cpp/boost/libs/polygon
	url = git@github.com:sam-caldwell/polygon.git
	branch = .
[submodule "msm"]
	path = cpp/boost/libs/msm
	url = git@github.com:sam-caldwell/msm.git
	branch = .
[submodule "heap"]
	path = cpp/boost/libs/heap
	url = git@github.com:sam-caldwell/heap.git
	branch = .
[submodule "coroutine"]
	path = cpp/boost/libs/coroutine
	url = git@github.com:sam-caldwell/coroutine.git
	branch = .
[submodule "coroutine2"]
	path = cpp/boost/libs/coroutine2
	url = git@github.com:sam-caldwell/coroutine2.git
	branch = .
[submodule "ratio"]
	path = cpp/boost/libs/ratio
	url = git@github.com:sam-caldwell/ratio.git
	branch = .
[submodule "odeint"]
	path = cpp/boost/libs/numeric/odeint
	url = git@github.com:sam-caldwell/odeint.git
	branch = .
[submodule "geometry"]
	path = cpp/boost/libs/geometry
	url = git@github.com:sam-caldwell/geometry.git
	branch = .
[submodule "phoenix"]
	path = cpp/boost/libs/phoenix
	url = git@github.com:sam-caldwell/phoenix.git
	branch = .
[submodule "move"]
	path = cpp/boost/libs/move
	url = git@github.com:sam-caldwell/move.git
	branch = .
[submodule "locale"]
	path = cpp/boost/libs/locale
	url = git@github.com:sam-caldwell/locale.git
	branch = .
[submodule "auto_index"]
	path = tools/auto_index
	url = git@github.com:sam-caldwell/auto_index.git
	branch = .
[submodule "container"]
	path = cpp/boost/libs/container
	url = git@github.com:sam-caldwell/container.git
	branch = .
[submodule "local_function"]
	path = cpp/boost/libs/local_function
	url = git@github.com:sam-caldwell/local_function.git
	branch = .
[submodule "context"]
	path = cpp/boost/libs/context
	url = git@github.com:sam-caldwell/context.git
	branch = .
[submodule "type_erasure"]
	path = cpp/boost/libs/type_erasure
	url = git@github.com:sam-caldwell/type_erasure.git
	branch = .
[submodule "multiprecision"]
	path = cpp/boost/libs/multiprecision
	url = git@github.com:sam-caldwell/multiprecision.git
	branch = .
[submodule "lockfree"]
	path = cpp/boost/libs/lockfree
	url = git@github.com:sam-caldwell/lockfree.git
	branch = .
[submodule "assert"]
	path = cpp/boost/libs/assert
	url = git@github.com:sam-caldwell/assert.git
	branch = .
[submodule "align"]
	path = cpp/boost/libs/align
	url = git@github.com:sam-caldwell/align.git
	branch = .
[submodule "type_index"]
	path = cpp/boost/libs/type_index
	url = git@github.com:sam-caldwell/type_index.git
	branch = .
[submodule "core"]
	path = cpp/boost/libs/core
	url = git@github.com:sam-caldwell/core.git
	branch = .
[submodule "throw_exception"]
	path = cpp/boost/libs/throw_exception
	url = git@github.com:sam-caldwell/throw_exception.git
	branch = .
[submodule "winapi"]
	path = cpp/boost/libs/winapi
	url = git@github.com:sam-caldwell/winapi.git
	branch = .
[submodule "boostdep"]
	path = tools/boostdep
	url = git@github.com:sam-caldwell/boostdep.git
	branch = .
[submodule "lexical_cast"]
	path = cpp/boost/libs/lexical_cast
	url = git@github.com:sam-caldwell/lexical_cast.git
	branch = .
[submodule "sort"]
	path = cpp/boost/libs/sort
	url = git@github.com:sam-caldwell/sort.git
	branch = .
[submodule "convert"]
	path = cpp/boost/libs/convert
	url = git@github.com:sam-caldwell/convert.git
	branch = .
[submodule "endian"]
	path = cpp/boost/libs/endian
	url = git@github.com:sam-caldwell/endian.git
	branch = .
[submodule "vmd"]
	path = cpp/boost/libs/vmd
	url = git@github.com:sam-caldwell/vmd.git
	branch = .
[submodule "dll"]
	path = cpp/boost/libs/dll
	url = git@github.com:sam-caldwell/dll.git
	branch = .
[submodule "compute"]
	path = cpp/boost/libs/compute
	url = git@github.com:sam-caldwell/compute.git
	branch = .
[submodule "hana"]
	path = cpp/boost/libs/hana
	url = git@github.com:sam-caldwell/hana.git
	branch = .
[submodule "metaparse"]
	path = cpp/boost/libs/metaparse
	url = git@github.com:sam-caldwell/metaparse.git
	branch = .
[submodule "qvm"]
	path = cpp/boost/libs/qvm
	url = git@github.com:sam-caldwell/qvm.git
	branch = .
[submodule "fiber"]
	path = cpp/boost/libs/fiber
	url = git@github.com:sam-caldwell/fiber.git
	branch = .
[submodule "process"]
	path = cpp/boost/libs/process
	url = git@github.com:sam-caldwell/process.git
	branch = .
[submodule "stacktrace"]
	path = cpp/boost/libs/stacktrace
	url = git@github.com:sam-caldwell/stacktrace.git
	branch = .
[submodule "poly_collection"]
	path = cpp/boost/libs/poly_collection
	url = git@github.com:sam-caldwell/poly_collection.git
	branch = .
[submodule "beast"]
	path = cpp/boost/libs/beast
	url = git@github.com:sam-caldwell/beast.git
	branch = .
[submodule "mp11"]
	path = cpp/boost/libs/mp11
	url = git@github.com:sam-caldwell/mp11.git
	branch = .
[submodule "callable_traits"]
	path = cpp/boost/libs/callable_traits
	url = git@github.com:sam-caldwell/callable_traits.git
	branch = .
[submodule "contract"]
	path = cpp/boost/libs/contract
	url = git@github.com:sam-caldwell/contract.git
	branch = .
[submodule "check_build"]
	path = tools/check_build
	url = git@github.com:sam-caldwell/check_build.git
	branch = .
[submodule "container_hash"]
	path = cpp/boost/libs/container_hash
	url = git@github.com:sam-caldwell/container_hash.git
	branch = .
[submodule "hof"]
	path = cpp/boost/libs/hof
	url = git@github.com:sam-caldwell/hof.git
	branch = .
[submodule "yap"]
	path = cpp/boost/libs/yap
	url = git@github.com:sam-caldwell/yap.git
	branch = .
[submodule "safe_numerics"]
	path = cpp/boost/libs/safe_numerics
	url = git@github.com:sam-caldwell/safe_numerics.git
	branch = .
[submodule "parameter_python"]
	path = cpp/boost/libs/parameter_python
	url = git@github.com:sam-caldwell/parameter_python.git
	branch = .
[submodule "headers"]
	path = cpp/boost/libs/headers
	url = git@github.com:sam-caldwell/headers.git
	branch = .
[submodule "boost_install"]
	path = tools/boost_install
	url = git@github.com:sam-caldwell/boost_install.git
	branch = .
[submodule "outcome"]
	path = cpp/boost/libs/outcome
	url = git@github.com:sam-caldwell/outcome.git
	branch = .
[submodule "histogram"]
	path = cpp/boost/libs/histogram
	url = git@github.com:sam-caldwell/histogram.git
	branch = .
[submodule "variant2"]
	path = cpp/boost/libs/variant2
	url = git@github.com:sam-caldwell/variant2.git
	branch = .
[submodule "nowide"]
	path = cpp/boost/libs/nowide
	url = git@github.com:sam-caldwell/nowide.git
	branch = .
[submodule "docca"]
	path = tools/docca
	url = git@github.com:sam-caldwell/docca.git
	branch = .
[submodule "cmake"]
	path = tools/cmake
	url = git@github.com:sam-caldwell/cmake.git
	branch = .
[submodule "static_string"]
	path = cpp/boost/libs/static_string
	url = git@github.com:sam-caldwell/static_string.git
	branch = .
[submodule "stl_interfaces"]
	path = cpp/boost/libs/stl_interfaces
	url = git@github.com:sam-caldwell/stl_interfaces.git
	branch = .
[submodule "more"]
	path = more
	url = git@github.com:sam-caldwell/more.git
	branch = .
[submodule "leaf"]
	path = cpp/boost/libs/leaf
	url = git@github.com:sam-caldwell/leaf.git
	branch = .
[submodule "json"]
	path = cpp/boost/libs/json
	url = git@github.com:sam-caldwell/json.git
	branch = .
[submodule "pfr"]
	path = cpp/boost/libs/pfr
	url = git@github.com:sam-caldwell/pfr.git
	branch = .
[submodule "describe"]
	path = cpp/boost/libs/describe
	url = git@github.com:sam-caldwell/describe.git
	branch = .
[submodule "lambda2"]
	path = cpp/boost/libs/lambda2
	url = git@github.com:sam-caldwell/lambda2.git
	branch = .
[submodule "property_map_parallel"]
	path = cpp/boost/libs/property_map_parallel
	url = git@github.com:sam-caldwell/property_map_parallel.git
	branch = .
[submodule "url"]
	path = cpp/boost/libs/url
	url = git@github.com:sam-caldwell/url.git
	branch = .
[submodule "mysql"]
	path = cpp/boost/libs/mysql
	url = git@github.com:sam-caldwell/mysql.git
	branch = .
[submodule "compat"]
	path = cpp/boost/libs/compat
	url = git@github.com:sam-caldwell/compat.git
	branch = .
[submodule "redis"]
	path = cpp/boost/libs/redis
	url = git@github.com:sam-caldwell/redis.git
	branch = .
[submodule "cobalt"]
	path = cpp/boost/libs/cobalt
	url = git@github.com:sam-caldwell/cobalt.git
	branch = .
