[submodule "boost"]
	path = cpp/boost
	url = git@github.com:sam-caldwell/boost
	branch = 1.82.0
[submodule "ceph"]
	path = cpp/ceph
	url = git@github.com:sam-caldwell/ceph.git
	branch = 18.2.1
[submodule "postgresql"]
	path = cpp/postgresql
	url = git@github.com:sam-caldwell/postgres.git
[submodule "kernel"]
	path = cpp/linux
	url = git@github.com:sam-caldwell/linux.git
	branch = main
[submodule "zstd"]
	path = cpp/zstd
	url = git@github.com:sam-caldwell/zstd.git
[submodule "rocksdb"]
	path = cpp/rocksdb
	url = git@github.com:sam-caldwell/rocksdb.git
[submodule "cpp/ceph-object-corpus"]
	path = cpp/ceph-object-corpus
	url = git@github.com:sam-caldwell/ceph-object-corpus.git
[submodule "cpp/jerasure"]
	path = cpp/jerasure
	url = git@github.com:sam-caldwell/jerasure.git
[submodule "cpp/gf-complete"]
	path = cpp/gf-complete
	url = git@github.com:sam-caldwell/gf-complete.git
