# Jetbrains files...
.idea/
*.iml
# ---

# The directory where we build artifacts...
build/
**/builds/
bin/
*.log
# ---

# Used by Makefile.d/self-tests
cmd/fakeProject/
projects/fakeProject/

# ---.DS_Store
.DS_Store

# Snyk cache
.dccache

systems/iso/
*.iso

# Node/Typescript stuff
node_modules/

# Python stuff
.python-virtualenv/

# Ruby stuff
.bundle/
*.gem
Gemfile.lock

# Packer stuff
packer_cache/
packer.log
*.box
*.ovf
*.vmdk
*.vdi
virtualfloppy.vfd
*.variables.json
*.metadata.json

# Go Environment
pkg/


# Cmake stuff
**/CMakeFiles/
CMakeCache.txt
**/Makefile
cmake/Modules

# Rust stuff
rust/**/target