# Jetbrains files...
.idea/
*.iml
# ---

# The directory where we build artifacts...
build/
bin/
# ---

# Used by Makefile.d/self-tests
cmd/fakeProject/
projects/fakeProject/

# ---.DS_Store
.DS_Store